{% extends "base.html" %}

{% block content %}
<h1>Список товаров</h1>
{% if current_user.is_authenticated %}
    <a href="products" class="btn btn-secondary">Добавить товар</a>
{% endif %}
{% for item in products%}
<div class="col-md6 border rounded">
    <img src={{item.src}}/>
    <h3>{{item.title}}</h3>
    {% if current_user.is_authenticated %}
    <div>
        <a href="/products/{{ item.id }}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/products_delete/{{ item.id }}" class="btn btn-danger">
            Удалить
        </a>
    </div>
    {% endif %}
    <div>
        {{item.content}}
    </div>
</div>
{% endfor %}
{% endblock %}